body, html {
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  min-width: 320px;
  margin: 0 auto;
}
.section__line {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    background-image: url('../img/coding.svg');
    background-repeat: no-repeat;
    background-position: center;
}